.sidebar {
    background: rgb(55, 58, 71);
    resize: horizontal;
    max-width: 100vw;
    width: 600px;
    height: 100vh;
    position: fixed;
    overflow: auto;
    transition: all 0.5s ease 0s;
}

.siderbar-header {
    padding: 15px 0 15px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.siderbar-header-title {
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

.sidebar-close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 8px;
}

.sidebar-close-container {
    position: absolute;
    top: 6px;
    right: 14px;
}

.sidebar-close-btn {
    position: absolute;
    width: 3px;
    height: 14px;
    transform: rotate(45deg);
    background: rgb(189, 195, 199);
}

.sidebar-close-btn-reverse {
    position: absolute;
    width: 3px;
    height: 14px;
    transform: rotate(-45deg);
    background: rgb(189, 195, 199);
}

.sidebar-close-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    background: transparent;
    cursor: pointer;
}
